#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
set_watch() {
  TO_WATCH=""
  mapfile -td "" TO_WATCH < <(find "./nix4dev" -type f -print0)
  watch_file "${TO_WATCH[@]}"

}
set_watch

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake ./nix4dev
