#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

set_watch() {
  TO_WATCH=""
  mapfile -td "" TO_WATCH < <(find ./nix4dev-modules -type f -print0)
  nix_direnv_watch_file "${TO_WATCH[@]}"
  mapfile -td "" TO_WATCH < <(find ./tests -type f -print0)
  nix_direnv_watch_file "${TO_WATCH[@]}"
}
set_watch


# Watch & reload direnv on change
TO_WATCH=""
mapfile -td "" TO_WATCH < <(find ./nix4dev -type f -print0)
nix_direnv_watch_file "${TO_WATCH[@]}"

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake ./nix4dev
